body {
    box-sizing: border-box;
    background-color: #000000;
    font-family: 'VT323', Arial, Helvetica, sans-serif;
    color: red;
    background-image: url(images/web_bg.png);
    background-attachment: scroll;
    background-size:contain;
    background-repeat: repeat-y;
    text-align: center;
    text-transform: uppercase;
}

h1 {
    margin-top: 5vw;
    font-size: 9vw;
}

h1.title{
    margin-top: -8vw;
}

h2 {
    margin-top: -1vw;
    font-size: 3vw;
}

h2.bottom {
    margin-top: -3vw;
}

#spongy-bastard {
    margin-left: auto;
    margin-right: auto;
    margin-top: -20%;
    width: 50vw;
    height: 50vw;
}


.link-container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 75%;
    justify-content: center;
}

.link-item-img {
    width: 35vw;
    height: 23vw;
}

.link-item {
    position: relative;
}

.link-item-text {
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6vw;
} 

.info-spongy-bastard {
    position: relative;
    text-align: center;
}

.background-img {
    width: 65vw;
    height: 37vw;
}

.background-img-contents {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.background-img-gif {
    position: absolute;
    width: 14vw;
    height: auto;
    top: 52%;
    left: 65%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.background-img-contents-multi {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.types-container {
    display: flex;
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.types-container-item {
    width: 5vw;
    height: auto;
}

.traits-container {
    width: 50vw;
    height: 18vw;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.traits-container-item {
    width: auto;
    height: 5vw;
}

.legendary-container {
    display: flex;
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.legendary-container-item {
    width: auto;
    height: 10vw;
}

.armory-img {
    position: absolute;
    width: 20vw;
    height: auto;
    top: 66%;
    left: 52%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

#coming-soon {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#coming-soon-multi {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}